<nav class="navbar navbar-expand-lg navbar-light container d-flex">

  <!-- titulo -->
  <a class="navbar-brand" href="{% url 'home' %}">Banco de Questões</a>

  <!-- botão que vai aparecer no modo responsivo -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- menu responsivo -->
  <div class="collapse navbar-collapse" id="navbarNav">

    <!-- links para as outras páginas no centro -->
    <ul class="navbar-nav">
      <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active cor-link-atual{% endif %}">
        <a class="nav-link" href="{% url 'home' %}"><i class="bi bi-house"></i> Home</a>
      </li>

      {% if user.is_authenticated %}
        <li class="nav-item {% if request.resolver_match.url_name == 'questoes' %}active cor-link-atual{% endif %}">
          <a class="nav-link" href="{% url 'questoes' %}"><i class="bi bi-clipboard"></i> Questões</a>
        </li>
      {% endif %}

        <li class="nav-item {% if request.resolver_match.url_name == 'meu_dia' %}active cor-link-atual{% endif %}">
          <a class="nav-link" href="{% url 'meu_dia' %}"><i class="bi bi-calendar-check"></i> Meu Dia</a>
        </li>

    </ul>

    <ul class="navbar-nav ms-auto">

      {% if user.is_authenticated %}
        <!-- nome do usuário, clicando vai para a tela do usuário -->
        <li
          class="nav-item {% if request.resolver_match.url_name == 'login' %}active cor-link-atual{% endif %}">
          <a class="nav-link" href="{% url 'minha_conta' %}"> <i class="bi bi-person"></i> {{ user.username }}</a>
        </li>
        <!-- botão sair -->
        <li
          class="nav-item">
          <a class="nav-link cor-link-sair" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i> Sair</a>
        </li>

      {% else %}
        <li
          class="nav-item {% if request.resolver_match.url_name == 'login' or request.resolver_match.url_name == 'cadastro' %}active cor-link-atual{% endif %}">
          <a class="nav-link" href="{% url 'login' %}"><i class="bi bi-person"></i> Entre</a>
        </li>
        
      {% endif %}

    </ul>
  </div>

</nav>
