/* aqui tem algumas variaveis */
/* a ideia é ser fácil trocar a cor do site, apenas trocando a cor aqui no arquivo */
:root {

    /* fundos */
    --cor-fundo-header: white;
    --cor-fundo-site: white;
    --cor-fundo-footer: white;
    --cor-fundo-botao: rgb(0, 0, 0);

    /* textos */
    --cor-texto-normal: #000000;

    /* links */
    --cor-link: rgb(95, 95, 196);
    --cor-link-atual: blue;
    --cor-link-hover: blue;
    /* cor do link de sair quando passa o mouse em cima */
    --cor-link-sair: red;
}

.cor-fundo-header {
    background-color: var(--cor-fundo-header);
}

.cor-fundo-site {
    background-color: var(--cor-fundo-site);
}

.cor-fundo-footer {
    background-color: var(--cor-fundo-footer);
}

.cor-texto-normal {
    color: var(--cor-texto-normal);
}

/* troca diretamente algumas variaveis do bootstrap */
.navbar-nav {
    --bs-nav-link-color: var(--cor-link);    
    --bs-nav-link-hover-color: var(--cor-link-hover);    
}

/* se colocar no link diretamente */
.cor-link-atual {
    color: var(--cor-link-atual) !important;
}

/* se colocar num pai de um link */
.cor-link-atual a {
    color: var(--cor-link-atual) !important;
}

.cor-link-sair:hover{
  color: var(--cor-link-sair) !important;
}

.btn-form {
    background-color: var(--cor-fundo-botao);
}


/* colocando/retirando efeitos */

.campo-input {

}
