{% extends "../components/base-auth.html" %} {% block title %} Banco questões - Login {% endblock %}
{% block content %}

<!-- <form method="POST">
  {% csrf_token %} !-- precisa disso para o django aceitar o post do formulário 
  
  {% if form.errors %}
    <div class="alert alert-danger">
        Usuário ou senhrgb(236, 236, 236)álidos.
    </div>
  {% endif %}

  <div class="form-group">
    <label for="username">Usuário</label>
    <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" name="username"required> -- precisa do name="username" para o django reconhecer o campo de login e precisa do type="text" para o django aceitar o campo de login, mesmo que seja um email --
    <small id="usernameHelp" class="form-text text-muted">We'll never share your data with anyone else.</small>
  </div>
  
  <div class="form-group">
    <label for="password">Senha</label>
    <input type="password" class="form-control" id="password" name="password" required> -- precisa do name="password" para o django reconhecer o campo de senha --
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>  </div>
  
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Entrar</button>
</form> -->

{% comment %} centraliza no meio da tela {% endcomment %}
<div class="d-flex justify-content-center align-items-center vh-100">

  {% comment %} faz o titulo ficar em cima do card  {% endcomment %}
  <div class="d-flex flex-column gap-2 justify-content-center align-items-center">
    <h1>Banco de questões</h1>
  
    <div class="card p-4 shadow-sm" style="width: 500px;">
  
      <h2 class="text-center mb-3">Login</h2>
  
      <form method="POST">
        {% csrf_token %} <!-- precisa disso para o django aceitar o post do formulário -->
  
  
        {% if form.errors %}
        <div class="alert alert-danger">
          Usuário ou senha inválidos.
        </div>
  
        {% endif %}
  
        <div class="mb-3 campo-input">
          <label for="username" class="form-label">Nome de Usuário</label>
          <input type="text" class="form-control" name="username" placeholder="User123" required>
        </div>
  
        <div class="mb-2 campo-input">
          <label for="password" class="form-label">Senha</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="••••••••" required>
        </div>
  
        <div class="mb-3 text-end">
          <a href="#" class="small">Esqueci minha senha</a>
        </div>
        <button type="submit" class="btn btn-primary w-100 btn-form botao-login">Entrar</button>
      </form>
      <div class="text-center mt-3">
        <span class="small">Não tem uma conta?</span>
        <a href="{% url 'cadastro'%}" class="small">Cadastre-se</a>
      </div>
  
    </div>
  </div>


</div>

{% endblock %}
